div, p, p strong, p span {
    color: green;
}

p.red-p {
    color: red;
}

p.blue-p {
    color: blue
}

p.blue-p span {
    color: yellow;
}

p strong span {
    color: pink
}

p[data-foo] {
    color: violet
}

p.super-strange-paragraph:hover span {
    color: red;
}